@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julius+Sans+One&display=swap');

body{
    background-color: #2A2A2B;
    color: #cccccc;
    display: grid;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas:
     "header header header header header"
     "main main main main main"
     "footer footer footer footer footer";
    margin: 0;
    height: 100vh;
    font-family: "Julius Sans One", sans-serif;
}

header {
    grid-area: header;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #f0f0f0 2px solid;
    margin-left: 30px;
    margin-right: 30px;
}

.separator {
    color: #CCCCCC;
    border-width: 1px;
    width: 100vw; 
    max-width: 1360px; 
    margin: 0 auto;
  }

a.redireccion{
    text-decoration: none;
    color: #CCCCCC;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #18B0B0;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    height: 30px;
    width: auto;  
    color: black;
    text-decoration: none;
}

.button:hover{
    background-color: #29dbdb;
}

header .container {
    grid-area: user_info;
    display: block;
    margin-left: 20px;
    width: 8%;
}

img{
    background-color: beige;
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

main {
    margin-top: 30px;
    grid-area: main;
    display: grid;
    grid-template-rows: 53px;
    width: 50%;
    justify-self: center;
    gap: 30px;
    margin-bottom: 30px;
}

h2 {
    border-radius: 10px;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

main .container{
    background: rgba(72, 78, 79, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    display: grid;
    height: max-content;
    padding: 30px;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    gap: 10px;
}

h3 {
    text-align: center;
    margin: 0px 0px 5px 0px;
    font-weight: 600;
    font-size: 20px;
}

p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    color: #ffffff;
    margin: 5px 0px 5px 0px;
    font-weight: 200;
}

input {
    padding: 10px;
    border: none; 
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); 
    background-color: rgba(30, 32, 32, 0.2); 
    color: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: none; 
    width: 100%;
    box-sizing: border-box;
    margin: 0px 0px 5px 0px;
}

#conf {
    width: 100%;
    height: 40px;
    border: 1px solid #214766;
    background: #18B0B0;
    border-radius: 25px;
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
    outline: none;  
}

#conf:hover {
    background-color: #34b8b8;
    transition: .5s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

#dificulty {
    display: flex;
    gap: 10px;
    align-self: center;
    justify-self: center;
    background-color: #18B0B0;
    cursor: pointer;
    width: 70%;
    height: 30px;
    font-weight: 600;
}

#dificulty:hover {
    background-color: #34b8b8;
    transition: .5s;
}


footer {
    grid-area: footer;
    text-align: center;
    background: #18b0b0;
    padding: 20px;
    height: 50px;
}

h4 {
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
    color: #000000;
}