@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    background-color: #2A2A2B;
    font-family: "Inter", sans-serif;
    color: #CCCCCC;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "main" "footer";
}

h1 {
    grid-area: header;
    text-align: center;
    padding: 20px;
    margin: 0;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch; 
    flex-wrap: nowrap; 
    gap: 20px; 
    width: 100%;
    max-width: 1000px;
}

.formulario {
    flex: 1 1 auto; 
    max-width: 480px;
    min-width: 350px;  
    height: 380px;
    background: rgba(72, 78, 79, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.vertical-line {
    flex: 0 0 2px; 
    background-color: #18B0B0;
    height: auto; 
    margin: 0 30px 0 30px; 
}

h2 {
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 24px;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #CCCCCC;
}

.input-group span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #18B0B0;
    transition: .5s;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -5px;
    color: #18B0B0;
}

.input-group input:focus + span::before,
.input-group input:not(:placeholder-shown) + span::before {
    width: 100%;
}

.recordar {
    font-family: "Julius Sans One", sans-serif;
    margin: 20px;
    color: #18B0B0;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid #214766;
    background: #18B0B0;
    border-radius: 25px;
    font-size: 18px;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #60B7BD;
    transition: .5s;
}

footer {
    grid-area: footer;
    background-color: #18B0B0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

h3 {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase; 
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}