
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julius+Sans+One&display=swap');

:root {
    color-scheme: light dark;
    --green: #00ff40da;
    --yellow: #ffd000da;
    --red: #ff0000ea;
    --black: #2A2A2B;
    --grey: #999;
    --white: #CCCCCC;
    --cyan: #18B0B0;
    --blue: #1E3A5F;
}

div{
    color: var(--cyan);
    font-size: 40px;
    
}
a.redireccion{
    text-decoration: none;
    color: #CCCCCC;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 60px;
}
body {
    background: var(--black);
    font-size: 25px;
    font-family: "Overpass Mono", monospace;
    display: grid;
    padding: 50px;
    justify-content: center;
    margin: 0 60px 0 60px;
    letter-spacing: 1px;
    line-height: 1.2;
    
}

.instructions {
    font-size: 18px;
    color: var(--grey);
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Julius Sans One", sans-serif;
}

time{
    display: block;
    color: var(--cyan);
    font-size: 35px;
    margin: 5px 0 5px 0;
}

input {
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}

p {
    display: block;
    margin: 0;
    white-space: pre-wrap;
    font-family: "Overpass Mono", monospace;
    color: var(--white);
}

word {
    display: inline-block; 
    white-space: nowrap;
    border-bottom: 2.5px solid transparent;
    transition: border-color 0.3s ease-in-out;
    &.marked {
        border-color: var(--red);
    }
}

word.incorrect {
    border-bottom: 2.5px solid var(--red);
}

letter {
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

letter.correct {
    color: var(--green);
}

letter.incorrect {
    color: var(--red);
}

letter.active::before {
    content: '|';
    font-size: 25px;
    color: var(--cyan);
    position: absolute;
    animation: 1s blink infinite ease-in-out;
    left: -55%;
}

#game {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#results {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h2 {
    font-weight: 400;
    opacity: .5;
    margin: 0;
    font-size: 30px;
    color: var(--cyan);
    text-align: center;
}

h3 {
    font-weight: 400;
    margin: 0;
    font-size: 30px;
    color: var(--white);
    text-align: center;
}

button {
    border: 0;
    background: transparent;
    padding: 6px;
    opacity: .4;
    display: inline-block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
}

.button-large {
    background: transparent;
    border: 0;
    margin-top: 32px;
    padding: 10px 400px;
    opacity: .4;
    display: inline-block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 16px;
    stroke: rgb(252, 252, 252);
    fill: none;
    &:hover {
        background: #444;
        opacity: 1;
        transform: scale(110%);
    }
}

.button-small {
    background: transparent;
    border: 0;
    padding: 6px;
    opacity: .4;
    display: inline-block;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 4px;
    stroke: rgb(69, 229, 235);
    fill: none;
    cursor: pointer;

    &:hover {
        background: #444;
        opacity: 1;
        transform: scale(110%);
    }
}

@keyframes blink {
    0%, 25% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}

#agradecimientos {
font-size: 18px;
color: var(--grey);
margin-top: 8px;
margin-bottom: 16px;
text-align: left;
clear: both;
}

#agradecimientos h2 {
    margin-bottom: 8px;
}

#agradecimientos p {
    margin-top: 0;
}

.cyan-link {
    color: var(--cyan);
}

.container {
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}

.button-container {
    display: flex;
    gap: 17px;
}

.custom-text {
    font-size: 20px;
    color: cadetblue;
}

.custom-color {
    fill: cadetblue;
}
h4.resul{
    color: #CCCCCC;
    margin: 0;
    font-weight: bold;
    font-size: 45px;           
}