@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julius+Sans+One&display=swap');

:root {
  margin: 0;
}

body {
  background-color: #2A2A2B;
  color: #cccccc;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
  font-family: "Julius Sans One", sans-serif;
}

header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #CCCCCC;
  margin: 0 0 0 50px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 60px;
}

a.button {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #18B0B0; 
  transition: background-color 0.5s ease; 
  color: #000000;
  font-family: "Julius Sans One", sans-serif; 
  text-decoration: none;
}

.button.login {
  width: 165px;
  height: 52px; 
  font-size: 16px;
}

.button.comenzar {
  width: 600px;
  height: 62px;
  font-size: 27px;
  text-align: center;
}

.button:hover {
  background-color: #46D1D1;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}

header .button {
  margin-right: 30px;
  font-size: 20px; 
}

.separator {
  color: #CCCCCC;
  border-width: 1px;
  width: 100vw; 
  max-width: 1360px; 
  margin: 0 auto;
}

main {
  overflow: auto;
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 10fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "header ."
  "text image"
  "add .";
  align-items: start;
  gap: 0;
}

h2 {
  font-size: 30px;
  font-weight: 250;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

p {
  margin-top: 0;
  text-align: left;
  line-height: 1.8;
  font-size: 20px;
}

.text {
  grid-area: text;
  margin: 0;
  padding: 20px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center; 
}

main aside {
  grid-area: image;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .text .button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  max-width: 300px;
  text-align: center;
  align-self: center;
}

main .text h3 {
  align-self: center;
  margin-top: 10px;
  text-align: center; 
  font-weight: 600;
}

main aside img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

footer {
  background: #18b0b0;
  padding: 20px;
}

footer .additional {
  display: flex;
  padding: 4px;
  font-size: 13px;
  align-items: center;
  color: #03202c;
}

footer .additional img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  object-fit: contain;
}

.final{
  color: #000000;
  margin-bottom: 0;
  font-size: 15px;
  font-family: "Julius Sans One", sans-serif; 
}