@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julius+Sans+One&display=swap');


.boxnivel{
    margin-left: -50px;
    margin-bottom: 50px;
    display: block;
    border-radius: 8px;
    width: 800px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.boxnivel.facil{
    background-color: #2DB22A;
}
.boxnivel.intermedio{
    background-color: #C3B31F;
}
.boxnivel.dificil{
    background-color: #D52525;
}
.letra_nivel{
    color:#000000;
    font-family: "Julius Sans One", sans-serif;
    font-size: 32px;
    font-weight: 300;
       
}
.boxnivel.facil:hover{
    background-color: #36A44C;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.boxnivel.intermedio:hover{
    background-color: #CFD83E;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.boxnivel.dificil:hover{
    background-color: #E65340;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.container.nivel {
    flex-direction: column; 
}
.downbox.dif{
    position: relative;
    margin-top: auto; 
}
body{
    background-color: #2A2A2B;
}
.header {
    margin-left: 100px;
    display: flex;
    justify-content: space-between; 
}
.header2{
    width: 836px;
    height: 62px;
}
h1{
    margin-top: 5px;
    color:#CCCCCC;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-size: 64px;
    margin-bottom: 0.2em;
}
pre{
    color:#CCCCCC;
    font-family: "Julius Sans One", sans-serif;
    font-size: 20px;
}
hr {
  color:#CCCCCC;
  border-width: 1px;
  width: 1160px;
  margin-bottom:20px;
}
.starbox{
    border-radius: 8px;
    float: left;
    width: 700px;
    height: 62px;
    background-color: #18B0B0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.star{
    color:#000000;
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    font-size: 27px;
}
.inicio{
    color:#000000;
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
    float: right;
}
a{
    text-decoration: none;
}
.iniciose{
    display: block;
    border-radius: 8px;
    float: right;
    width: 165px;
    height: 52px;
    background-color: #18B0B0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}
.iniciose:hover{
    margin-left: 100px;
    background-color: #46D1D1;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.logo{
    margin-top: 25px;
    margin-right: 100px;
    width: 250px; 
    height: auto;
    float: right;
}
.downbox {
    width: 100%;
    background-color: #18B0B0;
    padding: 35px;
    position: fixed; 
    bottom: 0;
    left: 0; 
    box-sizing: border-box; 
    text-align: center; 
}
.starbox:hover{
    background-color: #46D1D1;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.down{
    margin-left: 50px;
    margin-top: 0px;
    color:#2A2A2B;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    float: left;    
}
.iconoprimero{
    margin-left: 50px;
    width: 15px; 
    height: auto;
    float: left;    
    margin-right: 20px;
}
.icono{
    width: 15px; 
    height: auto;
    float: left;    
    margin-right: 20px;
}

.formulario_crear_cuenta, .formulario_ingreso_cuenta {
    margin-left: 50px;
    margin-right: 50px;
    width: 480px;
    height: 380px;
    background: rgba(72, 78, 79, 0.2);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.vertical-line {
    height: 350px; 
    width: 2px;
    background-color: #18B0B0; 
}
.formulario {
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #CCCCCC;
    font-family: "Inter", sans-serif;
    color: #CCCCCC;
    font-size: 36px;
}
.formulario form {
    padding: 0 30px;
    box-sizing: border-box;
}
.username, .contrasena {
    position: relative;
    margin: 20px 0;
    font-family: "Inter", sans-serif;
    color: #CCCCCC;
}
.username label, .contrasena label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.username input, .contrasena input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 2px solid #CCCCCC;
}
.username span::before, .contrasena span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #18B0B0;
    transition: .5s;
}
.username input:focus + label,
.username input:not(:placeholder-shown) + label,
.contrasena input:focus + label,
.contrasena input:not(:placeholder-shown) + label {
    top: -5px;
    color: #18B0B0;
}
.username input:focus + span::before,
.username input:not(:placeholder-shown) + span::before,
.contrasena input:focus + span::before,
.contrasena input:not(:placeholder-shown) + span::before {
    width: 100%;
}
.recordar{
    margin: 20px 0 20px 5px;
    color: #18B0B0;
    cursor: pointer;
}
.recordar:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid #214766;
    background: #18B0B0;
    border-radius:25px;
    font-size:18px;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #60B7BD;
    transition: .5s;
}

.anteriorbox{
    display: block;
    border-radius: 8px;
    float: left;
    width: 187px;
    height: 64px;
    background-color: #18B0B0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 25px;
    transition: background-color 0.3s ease;
    color:#000000;
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
}
.anteriorbox:hover{
    background-color: #46D1D1;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.listabox{
    display: block;
    border-radius: 8px;
    float: right;
    width: 303px;
    height: 64px;
    background-color: #18B0B0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 25px;
    transition: background-color 0.3s ease;
    color:#000000;
    font-family: "Julius Sans One", sans-serif;
    font-size: 16px;
}
.listabox:hover{
    background-color: #46D1D1;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
h4{
    color:#CCCCCC;
    font-family: "Julius Sans One", sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 300;
}
h4.letra_azul{
    color: #18B0B0;
}
.container.letra{    
    text-align:left;
    margin-top: -50px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 60px;
    margin-left: 50px;
}
.container.lista{
    margin-left: initial;
}
