<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="config/style_dificulty.css" th:href="@{config/style_difficulty.css}"/>

        <title>Speedy Code</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="theme-color" content="#09f">
    </head>

    <body>
        <header>
            <h1>Speedy Code</h1>

            <a class="button" href="register.html" th:href="@{/register}">Log In</a>

            <div class="container">
                <a href="user.html" th:href="@{/user}"><img src="/config/img/user.png" th:src="@{/config/img/user.png}" alt="imagen" class="imagen"></a>
                <p th:text="${email}"></p>
            </div>

        </header>

        <main>
            <h2>TU OBJETIVO SERÁ COMPLETAR EL CÓDIGO EN EL TIEMPO DETERMINADO <br>
                ¿ESTÁS LISTO? <br> <br>
                ELIGE TU <strong style="color: aquamarine;">DIFICULTAD</strong> PARA EMPEZAR
            </h2>


            <a class="button" id="easy" href="exercise.html" th:href="@{/exercise}">Facil</a>
            <a class="button" id="medium"  href="exercise.html" th:href="@{/exercise}">Intermedio</a>
            <a class="button" id="hard"  href="exercise.html" th:href="@{/exercise}" >Dificil</a>
            
            <a class="button" id="list" href="list.html" th:href="@{/list}">Listado Ejercicios</a>
        </main>
        

        <footer>
            <h4>Speedy Code @2024</h4>
        </footer>
    </body>
</html>