<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Escoja su dificultad</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{css/style.css}"/>
</head>
<body>
    <div class="header">
        <div>
            <a href="@{/}"  class="anteriorbox">ANTERIOR</a>
        </div>
        <div>
            <a href="listadoejercicios.html"  class="listabox">LISTADO DE EJERCICIOS</a>
        </div>
    </div>
    <h4>TU OBJETIVO SERÁ COMPLETAR EL CÓDIGO EN EL TIEMPO<br>DETERMINADO<br><br>¿ESTÁS LISTO?</h4>
    <div class="container letra">
        <h4>ELIGE TU </h4>
        <h4 class="letra_azul">> DIFICULTAD <</h4> <h4> PARA EMPEZAR </h4>
    </div>
    <div class="container nivel">
        <div class="boxnivel facil">  
            <h4 class="letra_nivel">FÁCIL</h4>
        </div>
        <br>
        <div class="boxnivel intermedio">  
            <h4 class="letra_nivel">INTERMEDIO</h4>
        </div>
        <br>
        <div class="boxnivel dificil">  
            <h4 class="letra_nivel">DIFÍCIL</h4>
        </div> 
    </div>
    <div class="downbox dif">
        <hr>
        <h3 class="down">SpeedyCode</h3><br><br>
        <img alt="logo-speedy-code" src="img/facebook.png" class="iconoprimero">
        <img alt="logo-speedy-code" src="img/linkedin.png" class="icono">
        <img alt="logo-speedy-code" src="img/youtube.png" class="icono">
        <img alt="logo-speedy-code" src="img/instagram.png" class="icono">
    </div>        
</body>
</html>
