<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="config/style_exercise.css" th:href="@{config/style_exercise.css}"/>

        <title>Speedy Code</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="theme-color" content="#09f">
    </head>

    <body>
        <header>
            <h1>Speedy Code</h1>
            <a class="button" href="register.html" th:href="@{/register}">Log In</a>
        </header>

        <main>
            <h2>Completa el código</h2>
            <div class="container">
                <h3>Ingresa el código:</h3>
                <textarea id="code" name="code" required></textarea>
                <p id="error-message" class="error-message"></p>
                <button type="submit">Enviar</button>
            </div>
        </main>

        <footer>
            <h4>Speedy Code @2024</h4>
        </footer>
    </body>