<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="config/style_index.css" th:href="@{config/style_index.css}"/>

        <title>Speedy Code</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="theme-color" content="#09f">
    </head>

    <body>
        <header>
            <h1>Speedy Code</h1>
            <a class="button" href="/register.html" th:href="@{/register}">Iniciar Sesion / Log In</a>
        </header>
        <hr class="separator">
        <main>
            <h2>Bienvenido a Speedy Code !!</h2>
            <div class="text">
                <p>La página que te ayudará a mejorar tu velocidad y precisión a la hora de escribir en el teclado</p>
                <p>Convierte en un programador agil y eficiente, capaz de escribir un código rápido y sin errores</p>
                <br>
                <h3> Haz click en comenzar! para Empezar</h3>
                <a class="button" href="dificulty.html" th:href="@{/dificulty.html}">Comenzar</a>
            </div>
            <aside> <img src="img/speedycode_logo.png" alt="ejemplo"></aside>

        </main>

        <footer>
            <strong>Speedy code @2024 y sus creadores:</strong> <br> <br>
            <hr class="separator" style="background-color: #2e5870;">
            <br>
            <div class="additional"><a href="https://github.com/yetanotherusername"><img src="img/facebook.png" alt="GitHub Logo"></a> Cesar Rodriguez</div>
            <div class="additional"><a href="https://github.com/yetanotherusername"><img src="img/facebook.png" alt="GitHub Logo"></a> Ana Molina</div>
            <div class="additional"><a href="https://github.com/yetanotherusername"><img src="img/facebook.png" alt="GitHub Logo"></a> Diego Carvajal</div>
        </footer>
    </body>
</html> 