<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Speedy Code</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="" th:href="@{css/style.css}"/>
    </head>
    
    <body>
        <div class="header">
            <h1> Speedy Code </h1>
            <div>
                <a th:href="@{/register}"  class="iniciose"> <h3 class="inicio"> iniciar sesión </h3></a>
            </div>
        </div>
        <hr>
        <div class="header">
            <div class="header2">
                <pre>Bienvenido a Speedy Code!<br><br>La página que te ayudará a mejorar tu velocidad y precisión a
                    la hora de escribir en el teclado<br><br>Convierte en un programador agil y eficiente, capaz de escribir 
                    un código rápido y sin errores<br><br>Haz click en comenzar! para Empezar<br><br></pre> 
                <div>
                    <a th:href="@{/difficulty}" class="starbox"> <h3 class="star"> comenzar </h3> </a>
                </div>
            </div>
            <img alt="logo-speedy-code" src="img/speedycode_logo.png" class="logo">
        </div>
        <div class="downbox">
            <hr>
            <h3 class="down">SpeedyCode</h3><br><br>
        </div>
    </body>
</html>