<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="config/style_index.css" th:href="@{config/style_index.css}"/>
    <title>Speedy Code</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#09f">
</head>
<body>
    <header>
        <h1>Speedy Code</h1>
        <a class="button login" href="/register.html" th:href="@{/register}">LOG IN</a>
    </header>
    <hr class="separator">

    <main>
        
        <div class="text">
            <h2>Welcome to Speedy Code!</h2>
            <p>This page will help you improve your speed and accuracy when typing on the keyboard.</p>
            <p>Become a quick and efficient programmer, capable of writing fast and error-free code.</p>
            <h3>Click on "Start" to begin!</h3>
            <a class="button comenzar" href="/difficulty.html" th:href="@{/difficulty}">Start</a>
        </div>

        <aside><img src="/config/img/speedycode_logo.png" alt="ejemplo"></aside>
    </main>

    <footer>
        <hr class="separator" style="background-color: #2e5870;">
        <br>
        <div class="additional"><a href="https://github.com/LeoInDaHause/speedycode" th:href="@{https://github.com/LeoInDaHause/speedycode}"><img src="/config/img/github_logo.png" th:src="@{/config/img/github_logo.png}" alt="GitHub Logo"></a> Project Repository</div>
        <strong><p class="final">Speedy code @2024 and its creators</p></strong> 
    </footer>
</body>
</html>