<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="config/style_register.css" th:href="@{config/style_register.css}"/>
    <title>Speedy Code</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#09f">
</head>
<body>
    <h1>Ingresa a Speedy Code</h1>
    <main>
        <div class="container">
            <div class="formulario">
                <h2>Inicio de sesión</h2>
                <form id="login" action="login_user" method="post">
                    <div class="input-group">
                        <input type="email" id="email" name="email" placeholder=" " required>
                        <label for="email">Correo electrónico</label>
                        <span></span>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder=" " required>
                        <label for="password">Contraseña</label>
                        <span></span>
                    </div>
                    <div class="recordar">¿Olvidó su contraseña?</div>
                    <input type="submit" value="Iniciar">
                </form>
            </div>
            <div class="vertical-line"></div>

            <div class="formulario">
                <h2>Crear una cuenta</h2>
                <form id="register" action="register_user" method="post">
                    <div class="input-group">
                        <input type="email" id="register_email" name="email" placeholder=" " required>
                        <label for="register_email">Correo electrónico</label>
                        <span></span>
                    </div>
                    <div class="input-group">
                        <input type="password" id="register_password" name="password" placeholder=" " required>
                        <label for="register_password">Contraseña</label>
                        <span></span>
                    </div>
                    <div class="input-group">
                        <input type="password" id="conf_password" name="conf_password" placeholder=" " required>
                        <label for="conf_password">Confirmar contraseña</label>
                        <span></span>
                    </div>
                    <p id="error-message" class="error-message"></p>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <h3>Speedy Code @2024</h3>
    </footer>
    <script>
        document.getElementById('register').addEventListener('submit', function(event) {
            var password = document.getElementById('register_password').value;
            var conf_password = document.getElementById('conf_password').value;
            var errorMessage = document.getElementById('error-message');

            if (password !== conf_password) {
                event.preventDefault();
                errorMessage.textContent = 'Las contraseñas no coinciden';
            } else {
                errorMessage.textContent = '';
            }
        });
    </script>
</body>
</html>