<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="config/style_user.css" th:href="@{config/style_user.css}"/>

        <title>Speedy Code</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="theme-color" content="#09f">
    </head>

    <body>
        <header>
            <h1>Speedy CODE</h1>
            <a class="button" href="index.html" th:href="@{/log_out}">Cerrar Sesión</a>
        </header>

        <main>
            <h2>Configuracion Speedy Code</h2>
            <div class="container">
                <h3>Correo:</h3>
                <p th:text="${userEmail}"></p>

                <form id="changeEmail" action="change_email" method="post">
                    <label for="correo">Cambiar Correo:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="con_correo">Confirmar Correo:</label>
                    <input type="email" id="conf_email" name="conf_email" required>

                    <p id="error-message" class="error-message" th:text="${errorMessage1}"></p>
                    <p id="info-message" class="info-message" th:text="${infoMessage1}" style="color: #35ec63; justify-content: center;"></p>

                    <input type="submit" value="Cambiar" id="conf">
                </form>
            </div>

            <div class="container">
                <h3> Cambiar Contraseña:</h3>

                <form id="changePassword" action="change_password" method="post">
                    <label for="password">Ingrese contraseña actual:</label>
                    <input type="password" id="current_password" name="current_password" required>

                    <label for="new_password">Cambiar Contraseña:</label>
                    <input type="password" id="new_password" name="new_password" required>

                    <label for="con_password">Confirmar Contraseña:</label>
                    <input type="password" id="conf_password" name="conf_password" required>

                    <p id="error-message" class="error-message" th:text="${errorMessage2}"></p>
                    <p id="info-message" class="info-message" th:text="${infoMessage2}" style="color: #35ec63; justify-content: center;"></p>

                    <input type="submit" value="Cambiar" id="conf">
                </form>
            </div>

            <a class="button" id="dificulty" href="difficulty.html" th:href="@{/difficulty}">Actividades</a>

        </main>

        <footer>
            <h3>Speedy Code @2024</h3>
        </footer>

    </body>
</html>