<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="config/style_user.css" th:href="@{config/style_user.css}"/>

        <title>Speedy Code</title>

        <meta name="robots" content="noindex, nofollow">
        <meta name="theme-color" content="#09f">

    </head>

    <body>

        <header>
            <a class="redireccion" href="index.html" th:href="@{/index}">Speedy Code</a></a>
            <a class="button" href="index.html" th:href="@{/log_out}">Log Out</a>
        </header>

        <main>

            <h2>User Settings</h2>
            <div class="container">
                <h3>Email</h3>
                <p th:text="${userEmail}"></p>

                <form id="changeEmail" action="change_email" method="post">
                    <label for="correo">Change Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="con_correo">Confirm Email:</label>
                    <input type="email" id="conf_email" name="conf_email" required>

                    <p id="error-message" class="error-message" th:text="${errorMessage1}"></p>
                    <p id="info-message" class="info-message" th:text="${infoMessage1}" style="color: #35ec63; justify-content: center;"></p>

                    <input type="submit" value="Change" id="conf">
                </form>
            </div>

            <div class="container">
                <h3> Change Password </h3>

                <form id="changePassword" action="change_password" method="post">
                    <label for="password">Enter Current Password:</label>
                    <input type="password" id="current_password" name="current_password" required>

                    <label for="new_password">Change Password:</label>
                    <input type="password" id="new_password" name="new_password" required>

                    <label for="con_password">Confirm Password:</label>
                    <input type="password" id="conf_password" name="conf_password" required>

                    <p id="error-message" class="error-message" th:text="${errorMessage2}"></p>
                    <p id="info-message" class="info-message" th:text="${infoMessage2}" style="color: #35ec63; justify-content: center;"></p>

                    <input type="submit" value="Change" id="conf">
                </form>
            </div>

            <a class="button" id="dificulty" href="difficulty.html" th:href="@{/difficulty}">Activities</a>

        </main>

        <footer>
            <hr class="separator">
            <h4>Speedy Code @2024</h4>
        </footer>

    </body>
</html>